
.ui.vertical.menu.sidebar-menu{
 background :#1179be;
 font-size:15px;

}
.main-content{
    margin-top:40px;

}
#top-menu{
    background :#1ea5ff;
}
@media (min-width:768px){
    .ui.vertical.menu.sidebar-menu{
        visibility:visible;
        transform:translate3d(0,0,0);
    }
    .main-content{
        margin-left:35rem;
    }
}